<table class="table table-hover">
  <thead>
      <tr>
          <th>Id</th>
          <th (click)="sort('name')">Name</th>
          <th>Age</th>
      </tr>
  </thead>
  <tr *ngFor="let person of filteredPersons">
      <td>
          <a>
              {{ person.id }}
          </a>
      </td>
      <td>{{ person.name | titlecase }}</td>
      <td>{{ person.age }}</td>
  </tr>
  
  <tr *ngIf="!filteredPersons || !filteredPersons.length">
      <td colspan="4">No customers found</td>
  </tr>
</table>
Number of Customers: {{ filteredPersons.length }}
<br />

<!-- Review how pipes works-->